.table {
  tbody > tr {
    cursor: pointer;

    &:hover {
      background-color: rgb(240, 240, 240);
    }
  }
}

.breadcrumbs {
  & > * {
    background: none;
  }
}

.breadItem {
  display: inline-block;
}

.buttonBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background: #5e72e4;
  padding: 10px 20px;
  margin-top: 20px;

  & > button:not(:last-child) {
    margin-right: 20px;
  }

  & > button {
    box-shadow: none;

    & > span {
      display: flex;
      justify-content: center;
      align-items: center;

      & > i {
        padding-left: 10px;
      }
    }
  }
}
