.body {
  min-height: calc(100vh - 1.45rem - 106.4px - 24px);
}

.footer {
  background: #000;
  color: #fff;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
}
